<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="integration">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="API_BASE" value="http://127.0.0.1:8000/backend/api"/>
    </php>
</phpunit>
